<!DOCTYPE html>
<html lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="asserts/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="asserts/js/jquery.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="asserts/js/bootstrap.min.js"></script>
    <link href="asserts/css/mycss.css"  rel="stylesheet">
</head>
<body>
<!--    <h2 th:text="${user.email} + 登陆成功！！！"></h2>-->

    <table class="table">
        <caption>用户管理</caption>
        <tr>
            <th>邮箱</th>
            <th>用户名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        <tr th:each="user1:${users}">
            <td th:text="${user1.email}"></td>
            <td th:text="${user1.username}"></td>
            <td th:text="${user1.password}"></td>
            <td>
                <button>删除</button>
                <button>修改</button>
            </td>



        </tr>

    </table>
</body>
</html>